body {
  display: inline-block;
  border: 5px solid rgba(0, 0, 0, 0.445);
  width: 50%;
  height: 25em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  font-weight: bold;
}
.App {
  padding: 15px;
}
input[type="text"] {
  padding: 25px;
  border: 2px solid rgba(0, 0, 0, 0.212);
  width: 80%;
}
.btn {
  border: 5x;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.26);
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
}
